---
permalink: /rss.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <channel>
        <title>{{site.title}}</title>
        <description>I blog on improving as a programmer</description>
        <link>{{site.baseUrl}}</link>
        <atom:link href="https://{{site.base}}/rss.xml" rel="self" type="application/rss+xml"/>
        <language>en</language>
        <lastBuildDate>{{ collections.rssItems[0].data.date.toUTCString().replace("GMT","+0000") }}</lastBuildDate>
        {%- for post in collections.rssItems -%}
        <item>
            <guid isPermaLink="false">{{ post.data.rssGuid if post.data.rssGuid else post.url }}</guid>
            <pubDate>{{ post.data.date.toUTCString().replace("GMT","+0000") }}</pubDate>
            <title>{{ post.data.title }}</title>
            <category>{{ post.data.summary }}</category>
            <description>{{ post.content }}</description>
            {% if post.url %}<link>{{ site.baseUrl }}{{ post.url }}</link>{% endif %}
        </item>
        {%- endfor -%}
    </channel>
</rss>
