<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset='utf-8'/>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'/>
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta content='CUbM7vY2tnDnr01H2Xy2' name='follow.it-verification-code'/>
    
    <link href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css' rel='stylesheet'/>
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css' rel='stylesheet'/>
    <link href='http://fonts.googleapis.com/css?family=Fredericka+the+Great' rel='stylesheet' type='text/css'/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

		<link href="https://unpkg.com/prismjs@1.29.0/themes/prism-okaidia.min.css" rel="stylesheet"></link>

    <link href='/style.css' rel='stylesheet' type='text/css'/>

    {# Meta descr, Open Graph #}

</head>
<body>
  <div class='content'>
    <div class='container'>
      <div class='row header'>
        <div class='col-sm-6'>
          <span class='logo'>
            <a href='{{ site.baseUrl }}'>
                {{ site.title }}
            </a>
          </span>
        </div>
        <div class='col-sm-6'>
          <ul class='nav nav-pills'>
            <li {{ 'class=active' if page.url == "/" }}>
               <a href='{{ site.baseUrl }}'>
                   Articles
               </a>
            </li>
            <li {{ 'class=active' if page.url == '/p/github.html' }}>
               <a href='/p/github.html'>
                   Projects
               </a>
            </li>
    	    <li {{ 'class=active' if page.url == '/p/about.html' }}>
                <a href='/p/about.html'>
                  About
                </a>
             </li>
           </ul>
          </div>
        </div>
        <div class='row main'>
          <div class='col-sm-12'>
            {{ content | safe }}
          </div>
        </div>
        <div class='row footer'>
          I blog on improving as a programmer. Get notified on new posts via <a href='https://follow.it/i-am-jonas?action=followPub' target='_blank'>email</a> or on <a href='https://twitter.com/soimjonas' target='_blank'>twitter</a>.
        </div>
      </div>
    </div>
  {# jQuery (necessary for Bootstrap's JavaScript plugins) #}
  <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'/>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js'/>
  <script>
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = &quot;https://platform.twitter.com/widgets.js&quot;;
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, &quot;script&quot;, &quot;twitter-wjs&quot;));
  </script>
</body>
</html>
