---
permalink: /atom.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns='http://www.w3.org/2005/Atom'>
    <title type='text'>{{site.title}}</title>
    <id>tag:www.iamjonas.me,2025:blog-feed</id>
    <updated>{{ collections.rssItems[0].data.date.toISOString() }}</updated>
    <link href="{{ site.baseUrl }}" />
    <link rel="self" href="{{ site.baseUrl}}/atom.xml" />
    <author>
        <name>Jonas Lundberg</name>
    </author>
    {%- for post in collections.rssItems -%}
    <entry>
        <id>
        {%- if post.data.atomId -%}
            {{ post.data.atomId -}}
        {%- elif post.data.rssGuid -%}
            {{ post.data.rssGuid -}}
        {%- else -%}
            {{ site.baseUrl ~ post.url }}
        {%- endif -%} 
        </id>
        <title>{{ post.data.title }}</title>
        <updated>{{ post.data.date.toISOString() }}</updated>
        <summary>{{ post.data.summary }}</summary>
        <content type="html">{{ post.content }}</content>
        {%- if post.url -%}
        <link href="{{ site.baseUrl }}{{ post.url }}" />
        {%- endif -%}
    </entry>
    {%- endfor -%}
</feed>
